app/src/main/assets/SAFTAO1.01_01.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:ns="urn:OECD:StandardAuditFile-Tax:AO_1.01_01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" id="SAF-T_AO"
    targetNamespace="urn:OECD:StandardAuditFile-Tax:AO_1.01_01" version="1.01_01">
    <xs:element name="AuditFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="AuditFileVersion" />
                            <xs:element ref="CompanyID" />
                            <xs:element name="TaxRegistrationNumber" type="SAFAOAngolaVatNumber" />
                            <xs:element ref="TaxAccountingBasis" />
                            <xs:element ref="CompanyName" />
                            <xs:element ref="CompanyAddress" />
                            <xs:element ref="FiscalYear" />
                            <xs:element ref="StartDate" />
                            <xs:element ref="EndDate" />
                            <xs:element name="CurrencyCode">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="AOA" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element ref="DateCreated" />
                            <xs:element ref="TaxEntity" />
                            <xs:element ref="ProductCompanyTaxID" />
                            <xs:element ref="SoftwareValidationNumber" />
                            <xs:element ref="ProductID" />
                            <xs:element ref="ProductVersion" />
                            <xs:element minOccurs="0" ref="Telephone" />
                            <xs:element minOccurs="0" ref="Fax" />
                            <xs:element minOccurs="0" ref="Email" />
                            <xs:element minOccurs="0" ref="Website" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MasterFiles">
                    <xs:complexType>
                        <xs:sequence>
                            <!--    Estrutura de Cliente (AuditFile.MasterFiles.Customer) -->
                            <xs:element name="Customer" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="CustomerID" />
                                        <xs:element ref="AccountID" />
                                        <xs:element ref="CustomerTaxID" />
                                        <xs:element ref="CompanyName" />
                                        <xs:element name="BillingAddress"
                                            type="AddressStructureAO" />
                                        <xs:element name="ShipToAddress"
                                            type="AddressStructureAO" />
                                        <xs:element minOccurs="0" ref="Telephone" />
                                        <xs:element minOccurs="0" ref="Fax" />
                                        <xs:element minOccurs="0" ref="Email" />
                                        <xs:element minOccurs="0" ref="Website" />
                                        <xs:element ref="SelfBillingIndicator" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!--    Estrutura de produto (AuditFile.MasterFiles.Product)-->
                            <xs:element name="Product" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="ProductType" />
                                        <xs:element ref="ProductCode" />
                                        <xs:element ref="ProductDescription" />
                                        <xs:element ref="ProductNumberCode" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!--    Estrutura de Impostos (AuditFile.MasterFiles.TaxTable) -->
                            <xs:element name="TaxTable">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" ref="TaxTableEntry" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- Estrutura de Documentos Comerciais (AuditFile.SourceDocuments)-->
                <xs:element name="SourceDocuments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SalesInvoices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="NumberOfEntries" />
                                        <xs:element ref="TotalDebit" />
                                        <xs:element ref="TotalCredit" />
                                        <xs:element name="Invoice" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="InvoiceNo" />
                                                    <!-- Estrutura da situacao atual do documento -->
                                                    <xs:element name="DocumentStatus">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="InvoiceStatus" />
                                                                <!-- Na exportacao de dados relativos a exercicios anteriores em que esta informacao seja desconhecida, este campo devera ser preenchido com a data do documento e hora como 00:00:00 -->
                                                                <xs:element ref="InvoiceStatusDate" />
                                                                <xs:element ref="SourceID" />
                                                                <xs:element name="SourceBilling" type="SAFTAOSourceBilling" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element ref="Hash" />
                                                    <xs:element ref="HashControl" />
                                                    <xs:element minOccurs="0" ref="Period" />
                                                    <xs:element ref="InvoiceDate" />
                                                    <xs:element ref="InvoiceType" />
                                                    <xs:element name="SpecialRegimes" type="SpecialRegimes" />
                                                    <xs:element ref="SourceID" />
                                                    <xs:element ref="SystemEntryDate" />
                                                    <xs:element ref="CustomerID" />
                                                    <xs:element minOccurs="0" ref="ShipTo" />
                                                    <xs:element minOccurs="0" ref="ShipFrom" />
                                                    <xs:element name="Line" maxOccurs="unbounded"
                                                        minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="LineNumber" />
                                                                <xs:element ref="ProductCode" />
                                                                <xs:element ref="ProductDescription" />
                                                                <xs:element ref="Quantity" />
                                                                <xs:element ref="UnitOfMeasure" />
                                                                <xs:element ref="UnitPrice" />
                                                                <xs:element ref="TaxPointDate" />
                                                                <xs:element ref="Description" />
                                                                <xs:element name="ProductSerialNumber" type="ProductSerialNumber" minOccurs="0" />
                                                                <xs:element ref="CreditAmount" />
                                                                <xs:element name="Tax" type="Tax" />
                                                                <xs:group ref="TaxExemptions" minOccurs="0" />
                                                                <xs:element ref="SettlementAmount" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="DocumentTotals">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element ref="TaxPayable" />
                                                                <xs:element ref="NetTotal" />
                                                                <xs:element ref="GrossTotal" />
                                                                <xs:element minOccurs="0" name="Currency" type="Currency" />
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" type="PaymentMethod" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="WithholdingTax" type="WithholdingTax" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ELEMENTOS SIMPLES COM RESTRICOES ADICIONAIS-->
    <xs:element name="AuditFileVersion">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="1.01_01" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Identificacao da entidade a que respeitam os dados constantes no SAF-T-->
    <xs:element name="CompanyID">
        <xs:annotation>
            <xs:documentation>Registo comercial.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1" />
                <xs:maxLength value="50" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:simpleType name="SAFAOAngolaVatNumber">
        <xs:annotation>
            <xs:documentation>Preencher com o NIF Angolano sem espaços e sem qualquer prefixo do
                país.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="10" />
            <xs:maxLength value="15" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Tipo de sistema que exportou o SAFT -->
    <xs:element name="TaxAccountingBasis">
        <xs:annotation>
            <xs:documentation>
                Deve ser preenchido com o tipo de programa fornecendo os dados aplicáveis
                (incluindo os documentos de conferência e os recibos emitidos, quando existam):
                “I” - Contabilidade integrada com a facturação;
                “C” - Contabilidade;
                “F” - Facturação;
                “P” - Facturação parcial;
                “R” - Recibos;
                “A” - Aquisição de bens e serviços;
                ”Q” - Aquisição de bens e serviços integrada com a facturação:
                “S” - Autofacturação.
                (a) Deve ser indicado este tipo de programa se este emitir só este tipo de
                documento.
                Caso contrário, deverá ser utilizado o tipo “C”, “F”
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="A" />
                <xs:enumeration value="C" />
                <xs:enumeration value="F" />
                <xs:enumeration value="I" />
                <xs:enumeration value="P" />
                <xs:enumeration value="Q" />
                <xs:enumeration value="R" />
                <xs:enumeration value="S" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Ano Fiscal -->
    <xs:element name="FiscalYear">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="2000" />
                <xs:maxInclusive value="9999" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="AccountID">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="(([0-9a-zA-Z\-/._+*]*)|Desconhecido)" />
                <xs:minLength value="1" />
                <xs:maxLength value="30" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Indicador de Autofaturacao -->
    <xs:element name="SelfBillingIndicator">
        <xs:annotation>
            <xs:documentation>
                Deve ser preenchido com «1» se respeitar autofaturação, com «0» (zero) no caso
                contrário.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="1" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Tipos de produto -->
    <xs:element name="ProductType">
        <xs:annotation>
            <xs:documentation>
                Deve ser preenchido com:
                “P” – Produtos;
                “S” – Serviços;
                “O” – Outros (Ex: portes debitados, adiantamentos recebidos ou alienação de
                activos);
                “E” – Impostos Especiais de Consumo – (ex.:IEC);
                “I” – Impostos, taxas e encargos parafiscais – excepto IVA e IS que deverão ser
                reflectidos na tabela 2.5
                – Tabela de impostos (Tax Table) e Impostos Especiais de Consumo, que deverão ser
                preenchidos com o código “E”.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="P" />
                <xs:enumeration value="S" />
                <xs:enumeration value="O" />
                <xs:enumeration value="E" />
                <xs:enumeration value="I" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Tipo de Imposto -->
    <xs:element name="TaxType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="IVA" />
                <xs:enumeration value="IS" />
                <xs:enumeration value="NS" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Pais ou regiao de Imposto -->
    <xs:element name="TaxCountryRegion">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="AO" />
                <xs:minLength value="2" />
                <xs:maxLength value="2" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Tipo de Imposto da tabela de impostos-->
    <xs:simpleType name="TaxTableEntryTaxCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="NOR|ISE|OUT|([0-9.])*|NS|NA" />
            <xs:minLength value="1" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Codigo unico do documento de venda -->
    <xs:element name="InvoiceNo">
        <xs:annotation>
            <xs:documentation>
                Esta identificação é composta sequencialmente pelos seguintes elementos:
                Tipo de documento (InvoiceType), um espaço,
                o código interno do tipo de documento atribuído pela aplicação o identificador da
                série d o documento,
                uma barra (/) e o número sequencial desse documento dentro dessa série.

                Não podem existir registos com a mesma identificação.

                Não pode ser utilizado o mesmo código interno de tipo de documento em diferentes
                tipos de documentos.

                Exemplos:
                InvoiceType: FT
                InvoiceNo: FT S001/1

                InvoiceType: NC
                InvoiceNo: NC S001/1
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[^ ]+ [^/^ ]+/[0-9]+" />
                <xs:minLength value="1" />
                <xs:maxLength value="60" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Estado do documento SalesInvoices -->
    <xs:element name="InvoiceStatus">
        <xs:annotation>
            <xs:documentation>
                Deve ser preenchido com:
                “N” - Normal;
                “S” - Autofacturação;
                “A” - Documento anulado;
                “R” - Documento de resumo doutros documentos criados noutras aplicações e gerado nesta aplicação;
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="N" />
                <xs:enumeration value="S" />
                <xs:enumeration value="A" />
                <xs:enumeration value="R" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Periodo contabilistico do documento -->
    <xs:element name="Period">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1" />
                <xs:maxInclusive value="12" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Tipo de documento de venda-->
    <xs:element name="InvoiceType">
        <xs:annotation>
            <xs:documentation>
                Deve ser preenchido com:
                “FT” - Factura;
                “FR” - Factura/recibo;
                “VD” - Venda a dinheiro;
                “GF” - Factura genérica;
                “FG” - Factura global
                “AC” - Aviso de cobrança;
                “AR” - Aviso de cobrança/recibo;
                “ND” - Nota de débito;
                “NC” - Nota de crédito
                “AF” - Factura/recibo (autofacturação)
                “TV” - Talão de venda
                Para o sector Segurador quando não deva constar da tabela 4.3. - Documentos de conferência de mercadorias ou de prestação de serviços (WorkingDocuments), pode ainda ser preenchido com:
                “RP” - Prémio ou recibo de prémio;
                “RE” - Estorno ou recibo de estorno;
                “CS” - Imputação a co-seguradoras;
                “LD” - Imputação a co-seguradora líder;
                “RA” - Resseguro aceite.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="FT" />
                <xs:enumeration value="FR" />
                <xs:enumeration value="VD" />
                <xs:enumeration value="GF" />
                <xs:enumeration value="FG" />
                <xs:enumeration value="AC" />
                <xs:enumeration value="AR" />
                <xs:enumeration value="ND" />
                <xs:enumeration value="NC" />
                <xs:enumeration value="AF" />
                <xs:enumeration value="TV" />
                <!-- Para o sector segurador-->
                <xs:enumeration value="RP" />
                <xs:enumeration value="RE" />
                <xs:enumeration value="CS" />
                <xs:enumeration value="LD" />
                <xs:enumeration value="RA" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Indicador de regime de IVA de Caixa -->
    <xs:element name="CashVATSchemeIndicator">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="1" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Indicador de faturacao emitida em nome e por conta de terceiros -->
    <xs:element name="ThirdPartiesBillingIndicator">
        <xs:annotation>
            <xs:documentation>
                Deve ser preenchido com "1" se respeitar a faturação emitida em nome e por conta de terceiros e com "2" se é obrigado a cativar o IVA.
                Com "3" se cumprir as duas condições e com "0" (zero) no caso de nãi cumprir com nenhuma condição.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="3" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Codigo do pais (ISO 3166 1-alpha-2) -->
    <xs:element name="Country">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="AO" />
                <xs:minLength value="2" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Codigo de de Imposto -->
    <xs:element name="TaxCode">
        <xs:annotation>
            <xs:documentation>
                Código da taxa na tabela de impostos.
                No caso do campo 4.4.4.14.6.1. - Código do tipo de imposto (TaxType) = IVA, deve ser preenchido com:
                “NOR” – Taxa normal;
                “ISE” – Isenta;
                “OUT” – Outros, aplicável para os regimes especiais de IVA.
                No caso do campo 4.4.4.14.6.1.
                Código do tipo de imposto (TaxType) = IS, deve ser preenchido com:
                O código da verba respectiva; “ISE” – Isenta.
                No caso de não aplicabilidade de imposto deve ser preenchido com “NA”.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="NOR|ISE|OUT|([0-9.])*|NS|NA" />
                <xs:minLength value="1" />
                <xs:maxLength value="10" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- Codigo da moeda (ISO 4217) -->
    <xs:element name="CurrencyCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="AED|AFN|ALL|AMD|ANG|AOA|ARS|AUD|AWG|AZN|BAM|BBD|BDT|BGN|BHD|BIF|BMD|BND|BOB|BOV|BRL|BSD|BTN|BWP|BYN|BZD|CAD|CDF|CHE|CHF|CHW|CLF|CLP|CNY|COP|COU|CRC|CUC|CUP|CVE|CZK|DJF|DKK|DOP|DZD|EGP|ERN|ETB|EUR|FJD|FKP|GBP|GEL|GHS|GIP|GMD|GNF|GTQ|GYD|HKD|HNL|HRK|HTG|HUF|IDR|ILS|INR|IQD|IRR|ISK|JMD|JOD|JPY|KES|KGS|KHR|KMF|KPW|KRW|KWD|KYD|KZT|LAK|LBP|LKR|LRD|LSL|LYD|MAD|MDL|MGA|MKD|MMK|MNT|MOP|MRU|MUR|MVR|MWK|MXN|MXV|MYR|MZN|NAD|NGN|NIO|NOK|NPR|NZD|OMR|PAB|PEN|PGK|PHP|PKR|PLN|PYG|QAR|RON|RSD|RUB|RWF|SAR|SBD|SCR|SDG|SEK|SGD|SHP|SLL|SOS|SRD|SSP|STN|SVC|SYP|SZL|THB|TJS|TMT|TND|TOP|TRY|TTD|TWD|TZS|UAH|UGX|USD|USN|UYI|UYU|UYW|UZS|VES|VND|VUV|WST|XAF|XAG|XAU|XBA|XBB|XBC|XBD|XCD|XDR|XOF|XPD|XPF|XPT|XSU|XTS|XUA|XXX|YER|ZAR|ZMW|ZWL" />
                <xs:length value="3" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- ELEMENTOS SIMPLES -->
    <xs:element name="CompanyName" type="SAFAOtextTypeMandatoryMax200Car" />
    <xs:element name="CompanyAddress" type="AddressStructureAO" />
    <xs:element name="AddressDetail" type="SAFAOtextTypeMandatoryMax250Car" />
    <xs:element name="City" type="SAFAOtextTypeMandatoryMax50Car" />
    <xs:element name="Province" type="SAFAOtextTypeMandatoryMax50Car" />
    <xs:element name="StartDate" type="SAFAODateSpan" />
    <xs:element name="EndDate" type="SAFAODateSpan" />
    <xs:element name="DateCreated" type="SAFAODateSpan" />
    <xs:element name="TaxEntity" type="SAFAOtextTypeMandatoryMax20Car" />
    <xs:element name="ProductCompanyTaxID" type="SAFAOtextTypeMandatoryMax20Car" />
    <xs:element name="SoftwareValidationNumber" type="ns:SAFAOtextValidationNumber" />
    <xs:element name="ProductID" type="SAFAOProductID" />
    <xs:element name="ProductVersion" type="SAFAOtextTypeMandatoryMax30Car" />
    <xs:element name="Telephone" type="SAFAOtextTypeMandatoryMax20Car" />
    <xs:element name="Fax" type="SAFAOtextTypeMandatoryMax20Car" />
    <xs:element name="Email" type="SAFAOtextTypeMandatoryMax255Car" />
    <xs:element name="Website" type="SAFAOtextTypeMandatoryMax60Car" />
    <xs:element name="CustomerID" type="SAFAOtextTypeMandatoryMax30Car" />
    <xs:element name="CustomerTaxID" type="SAFAOtextTypeMandatoryMax30Car" />
    <xs:element name="ProductCode" type="SAFAOtextTypeMandatoryMax60Car" />
    <xs:element name="ProductDescription" type="SAFAOtextTypeMandatoryMax200Car" />
    <xs:element name="ProductNumberCode" type="SAFAOtextTypeMandatoryMax60Car" />
    <xs:element name="TaxExpirationDate" type="SAFdateType" />
    <xs:element name="TaxPercentage" type="SAFdecimalType" />
    <xs:element name="TaxAmount" type="SAFmonetaryType" />
    <xs:element name="NumberOfEntries" type="xs:nonNegativeInteger">
        <xs:annotation>
            <xs:documentation>
                Deve conter o número total de documentos ou de movimentos, caso respeite o elemento
                GeneralLedgerEntries.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TotalDebit" type="SAFmonetaryType">
        <xs:annotation>
            <xs:documentation>
                Deve conter a soma dos elementos DebitAmount dos documentos cujo os elementos
                InvoiceStatus, WorkStatus ou PaymentStatus seja igual a N.
                Em GeneralLedgerEntries deve conter a soma de todos os elementos DebitAmount.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TotalCredit" type="SAFmonetaryType">
        <xs:annotation>
            <xs:documentation>
                Deve conter a soma dos elementos CreditAmount dos documentos cujo os elementos
                InvoiceStatus, WorkStatus ou PaymentStatus seja igual a N.
                Em GeneralLedgerEntries deve conter a soma de todos os elementos CreditAmount.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InvoiceStatusDate" type="SAFdateTimeType" />
    <xs:element name="SourceID" type="SAFAOtextTypeMandatoryMax30Car" />
    <xs:element name="Hash" type="SAFAOtextTypeMandatoryMax172Car" />
    <xs:element name="HashControl" type="SAFAOtextTypeMandatoryMax70Car">
        <xs:annotation>
            <xs:documentation>
                O campo deve ser preenchido com “0” (zero), caso o documento seja gerado por um programa não validado.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InvoiceDate" type="SAFdateType" />
    <xs:element name="SystemEntryDate" type="SAFdateTimeType" />
    <xs:element name="ShipTo" type="ShippingPointStructure" />
    <xs:element name="Address" type="AddressStructure" />
    <xs:element name="DeliveryID" type="SAFAOtextTypeMandatoryMax255Car" />
    <xs:element name="DeliveryDate" type="SAFdateType" />
    <xs:element name="WarehouseID" type="SAFAOtextTypeMandatoryMax50Car" />
    <xs:element name="LocationID" type="SAFAOtextTypeMandatoryMax30Car" />
    <xs:element name="BuildingNumber" type="SAFAOtextTypeMandatoryMax15Car" />
    <xs:element name="StreetName" type="SAFAOtextTypeMandatoryMax200Car" />
    <xs:element name="ShipFrom" type="ShippingPointStructure" />
    <xs:element name="LineNumber" type="xs:nonNegativeInteger" />
    <xs:element name="Quantity" type="SAFdecimalType" />
    <xs:element name="UnitOfMeasure" type="SAFAOtextTypeMandatoryMax20Car" />
    <xs:element name="UnitPrice" type="SAFmonetaryType">
        <xs:annotation>
            <xs:documentation>
                Preço unitário deduzido dos descontos de linha e de cabeçalho, sem incluir impostos.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TaxPointDate" type="SAFdateType" />
    <xs:element name="Description" type="SAFAOtextTypeMandatoryMax200Car" />
    <xs:element name="SerialNumber" type="SAFAOtextTypeMandatoryMax100Car" />
    <xs:element name="CreditAmount" type="SAFmonetaryType">
        <xs:annotation>
            <xs:documentation>
                Valor da linha, sem impostos, dos documentos a crédito.
                Este valor é deduzido dos descontos de linha e cabeçalho.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TaxExemptionReason" type="SAFAOTaxExemption" />
    <xs:element name="TaxExemptionCode" type="SAFAOTaxExemptionCode" />
    <xs:element name="SettlementAmount" type="SAFmonetaryType">
        <xs:annotation>
            <xs:documentation>
                Para os elementos presentes em:
                (1) /AuditFile/SourceDocuments/SalesInvoices/Invoice/Line/SettlementAmount
                (2) /AuditFile/SourceDocuments/MovementOfGoods/StockMovement/Line/SettlementAmount
                (3) /AuditFile/SourceDocuments/WorkingDocuments/WorkDocument/Line/SettlementAmount
                (4) /AuditFile/SourceDocuments/Payments/Payment/Line/SettlementAmount
                Deve refletir todos os descontos concedidos que afetem o total do documento - GrossTotal (descontos de linha e descontos glogais).

                Para os elementos presentes em:
                (5) /AuditFile/SourceDocuments/SalesInvoices/Invoice/DocumentTotals/Settlement/SettlementAmount
                (6) /AuditFile/SourceDocuments/Payments/Payment/DocumentTotals/Settlement/SettlementAmount
                Representa o valor acordado para desconto futuro, que afeta o total do documento - GrossTotal
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TaxPayable" type="SAFMonetaryType2DecimalPlaces" />
    <xs:element name="NetTotal" type="SAFMonetaryType2DecimalPlaces" />
    <xs:element name="GrossTotal" type="SAFMonetaryType2DecimalPlaces" />
    <xs:element name="CurrencyAmount" type="SAFmonetaryType" />
    <xs:element name="ExchangeRate" type="SAFdecimalType" />
    <!-- Meio de pagamento-->
    <xs:element name="PaymentMechanism">
        <xs:annotation>
            <xs:documentation>
                Deve ser preenchido com:
                “CC” – Cartão crédito;
                “CD” – Cartão débito;
                “CH” – Cheque bancário;
                “CI” – Crédito documentário internacional;
                “CO” – Cheque ou cartão oferta;
                “CS” – Compensação de saldos em conta corrente;
                “DE” – Dinheiro electrónico, por exemplo residente em cartões de fidelidade ou de pontos;
                “MB” – Referências de pagamento para Multicaixa;
                “NU” – Numerário;


                “OU” – Outros meios aqui não assinalados;
                “PR” – Permuta de bens;
                “TB“ – Transferência bancária ou débito directo autorizado; etc.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="CC" />
                <xs:enumeration value="CD" />
                <xs:enumeration value="CH" />
                <xs:enumeration value="CI" />
                <xs:enumeration value="CO" />
                <xs:enumeration value="CS" />
                <xs:enumeration value="DE" />
                <xs:enumeration value="MB" />
                <xs:enumeration value="NU" />
                <xs:enumeration value="OU" />
                <xs:enumeration value="PR" />
                <xs:enumeration value="TB" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- TIPOS DE DADOS BASE SAFT Angola -->
    <xs:simpleType name="SAFAOtextTypeMandatoryMax200Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="200" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax250Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="250" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax50Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAODateSpan">
        <xs:restriction base="xs:date">
            <xs:minInclusive value="2000-01-01" />
            <xs:maxInclusive value="9999-12-31" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax20Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextValidationNumber">
        <xs:annotation>
            <xs:documentation>
                Número da validação. atribuído à entidade produtora do software.
                Deve ser preenchido com: NNN/AGT/AAAA.
                Se não aplicável, deve ser preenchido com «0» (zero).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="70" />
            <xs:pattern value="\d+/AGT/\d{4}|[0]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOProductID">
        <xs:annotation>
            <xs:documentation>
                Nome da aplicação que gera o SAF-T(AO).
                Deve ser indicado o nome comercial do software e da empresa empresa produtora no
                formato
                «Nome da aplicação/Nome da empresa produtora do software».
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[^/]+/[^/]+" />
            <xs:minLength value="3" />
            <xs:maxLength value="255" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax30Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="30" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax255Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="255" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax60Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="60" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Origem do documento -->
    <xs:simpleType name="SAFTAOSourceBilling">
        <xs:annotation>
            <xs:documentation>
                P para documento produzido na aplicacao,
                I para documento integrado e produzido noutra aplicacao,
                M para documento proveniente de recuperacao ou de emissao manual
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="P" />
            <xs:enumeration value="I" />
            <xs:enumeration value="M" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax172Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="172" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax70Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="70" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax15Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="15" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOtextTypeMandatoryMax100Car">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Aplicação dos motivos de isenção de imposto -->
    <xs:group name="TaxExemptions">
        <xs:annotation>
            <xs:documentation>
                Quando aplicável, obriga ao preenchimento de ambos os campos.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="TaxExemptionReason" />
            <xs:element ref="TaxExemptionCode" />
        </xs:sequence>
    </xs:group>
    <!-- Codigo do motivo de isencao de imposto -->
    <xs:simpleType name="SAFAOTaxExemptionCode">
        <xs:annotation>
            <xs:documentation>
                Consultar: https://github.com/assoft-portugal/SAF-T-AO/wiki/Tax-Exemption-Codes
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(M[0-9]{2})+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFAOTaxExemption">
        <xs:restriction base="xs:string">
            <xs:minLength value="6" />
            <xs:maxLength value="60" />
        </xs:restriction>
    </xs:simpleType>
    <!-- ESTRUTURAS DE SUPORTE -->
    <!-- Estrutura de Moradas para Angola-->
    <xs:complexType name="AddressStructureAO">
        <xs:sequence>
            <xs:element ref="AddressDetail" />
            <xs:element ref="City" />
            <xs:element minOccurs="0" ref="Province" />
            <xs:element name="Country" fixed="AO" />
        </xs:sequence>
    </xs:complexType>
    <!--    Estrutura de Imposto -->
    <xs:element name="TaxTableEntry">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TaxType" />
                <xs:element minOccurs="0" ref="TaxCountryRegion" />
                <xs:element name="TaxCode" type="TaxTableEntryTaxCode" />
                <xs:element name="Description" type="SAFAOtextTypeMandatoryMax255Car" />
                <xs:element minOccurs="0" ref="TaxExpirationDate" />
                <xs:choice>
                    <xs:element ref="TaxPercentage" />
                    <xs:element ref="TaxAmount" />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Estrutura de entregas de produtos -->
    <xs:complexType name="ShippingPointStructure">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="DeliveryID" />
            <xs:element minOccurs="0" ref="DeliveryDate" />
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="0" ref="WarehouseID" />
                <xs:element minOccurs="0" ref="LocationID" />
            </xs:sequence>
            <xs:element minOccurs="0" ref="Address" />
        </xs:sequence>
    </xs:complexType>
    <!-- Estrutura de Regimes especiais de faturacao-->
    <xs:complexType name="SpecialRegimes">
        <xs:sequence>
            <xs:element ref="SelfBillingIndicator" />
            <xs:element ref="CashVATSchemeIndicator" />
            <xs:element ref="ThirdPartiesBillingIndicator" />
        </xs:sequence>
    </xs:complexType>
    <!-- Estrutura de Moradas -->
    <xs:complexType name="AddressStructure">
        <xs:sequence>
            <xs:element minOccurs="0" ref="BuildingNumber" />
            <xs:element minOccurs="0" ref="StreetName" />
            <xs:element ref="AddressDetail" />
            <xs:element ref="City" />
            <xs:element minOccurs="0" ref="Province" />
            <xs:element ref="Country" />
        </xs:sequence>
    </xs:complexType>
    <!-- Estrutura de numero de serie do produto-->
    <xs:complexType name="ProductSerialNumber">
        <xs:sequence>
            <xs:element ref="SerialNumber" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <!-- Estrutura de Taxa -->
    <xs:complexType name="Tax">
        <xs:sequence>
            <xs:element ref="TaxType" />
            <xs:element ref="TaxCountryRegion" minOccurs="0" />
            <xs:element ref="TaxCode" />
            <xs:choice>
                <xs:element ref="TaxPercentage" />
                <xs:element ref="TaxAmount" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <!-- Estrutura de valor monetario -->
    <!-- Este elemento apenas deve ser gerado quando a moeda original do documento for diferente de AOA -->
    <xs:complexType name="Currency">
        <xs:sequence>
            <xs:element ref="CurrencyCode" />
            <xs:element ref="CurrencyAmount" />
            <xs:element ref="ExchangeRate" />
        </xs:sequence>
    </xs:complexType>
    <!-- Estrutura de pagamentos-->
    <xs:complexType name="PaymentMethod">
        <xs:sequence>
            <xs:element ref="PaymentMechanism" minOccurs="0" />
            <xs:element name="PaymentAmount" type="SAFmonetaryType" />
            <xs:element name="PaymentDate" type="SAFdateType" />
        </xs:sequence>
    </xs:complexType>
    <!-- Estrutura de Retencao na fonte-->
    <xs:complexType name="WithholdingTax">
        <xs:annotation>
            <xs:documentation>
                Existindo a necessidade de efectuar mais do que uma referência, esta estrutura poderá ser gerada tantas vezes quantas as necessárias.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="WithholdingTaxAmount" type="SAFmonetaryType">
                <xs:annotation>
                    <xs:documentation>
                        Deve ser indicado o montante retido de imposto.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- TIPOS DE DADOS BASE SAFT OCDE-->
    <xs:simpleType name="SAFdateType">
        <xs:restriction base="xs:date" />
    </xs:simpleType>
    <xs:simpleType name="SAFdecimalType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.00" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFmonetaryType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.00" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SAFdateTimeType">
        <xs:restriction base="xs:dateTime" />
    </xs:simpleType>
    <!-- Elementos com Duas Casas Decimais -->
    <xs:simpleType name="SAFMonetaryType2DecimalPlaces">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="\d+(\.\d{2})" />
            <xs:minInclusive value="0.00" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>